
<!-- <form method="POST">
    {% csrf_token %}
    <h2>are you sure you want to delete {{ item.item_name }}</h2>
    <button type="submit">confirm</button>


</form> -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>



    <div class="container">
    
            <center>


                <form method="POST">
                    {% csrf_token %}
                    <h2>are you sure you want to delete <span style="color: #4DA6E5;"> {{ item.item_name }} </span> </h2>
                    <button type="submit" class="btn btn-danger">confirm</button>
    
    
                </form> 
        
            
                <img src="../../../pictures/undraw_Throw_away_re_x60k.png" alt="" style="width: 75%;">

            </center>
              

            

    </div>

    
</body>
</html>