<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    

    <script src="https://kit.fontawesome.com/f1e02b94da.js" crossorigin="anonymous"></script>
    
    


</head>
<body>
    <center>
        <a href="" style="color: rgb(77,166,230); position: relative; top: 27px; font-weight: 900; font-size: 1.8rem; text-decoration: none;">Healthybud<span style="color: #736FE3; ">d</span>y</a>
        <h1>you have been logged out</h1>
        <i class="fa-regular fa-circle-check fa-5x" style="color: #AADAAB;"></i>
        <h4 style="color: rgb(77,166,230);">thank you</h4>
    </center>

</body>
</html>
